#csstest{
    color: pink;
}
#myholder{
    height: 40vh;
    color: black;
    background: white;
}
.div.col-3{
    padding-left: 5px;
    padding-right: 0px;
    height: 5vh;
}

.container-fluid{
    /* height: 20vh; */
}

#map.col-12{
height: 37vh;
background: black;
width: 100%;
}
.html{
    padding-right: 0px;
}

#map{
    height: 37vh;
    width: 100%;
}
#choices{
    height: 5vh;
    color: black;
    background: white;
    padding: 20px;
}
div#choices{
    background-color: navy;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn.btn-primary.btn-lg{
background-color: pink;
}
#accordion{
    overflow-y: scroll;
    color: red;
    width: 100%;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    margin-left: 15px;
}

#footer{
    height: 15vh;
}

button.btn.btn-link{
    color: rgba(4, 36, 85, 0.5);
}
div.card-header{
    color: black;
}
div.card-body{
    padding: 30px;
}

.controls {
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#origin-input,
#destination-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 200px;
}

#origin-input:focus,
#destination-input:focus {
    border-color: #4d90fe;
}

#mode-selector {
    color: #fff;
    background-color: #4d90fe;
    margin-left: 12px;
    padding: 5px 11px 0px 11px;
}

#mode-selector label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}


.block {
    margin-top: 30px;
  }
  #collapseExample{
    background-color: #eee;
    padding: 30px 15px;
  }

  #lowCollapse{
    background-color: #eee;
    padding: 30px 15px;
  }