

<div id="navi">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="map.html" role="tab"
               aria-controls="home" aria-selected="true">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="journeyplan.html" role="tab"
               aria-controls="profile" aria-selected="false">Journey Planner</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" id="contact-tab" data-toggle="tab" href="routes.html" role="tab"
               aria-controls="contact" aria-selected="false">Routes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="contact-tab" data-toggle="tab" href="favourites.html" role="tab"
               aria-controls="contact" aria-selected="false">Favourites</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="contact-tab" data-toggle="tab" href="more.html" role="tab"
               aria-controls="contact" aria-selected="false">More</a>
        </li>
    </ul>

</div>