{% extends 'base.html' %}
{% block content %}

    {% load static %}
    {% load static %}
<script type="text/javascript" src="http://www.google.com/jsapi?key=AIzaSyC-hR-mSsuP9TGDFilrtWVmxNR_t1i-qYo">
</script>

<script type="text/javascript">
google.load("feeds", "1") //Load Google Ajax Feed API (version 1)
</script>
    
    <style>
      
    </style>

    <div class="se-pre-con"></div>
    <div id="head" style="background: rgba(4, 36, 85, 0.5); padding-top: 1%">
        <img class="smalllogo" style="display: inline" src="{% static 'smalllogo.png' %}">
        <h2 style="display: inline">Dublin Bus</h2>
    </div>
    {% if user.is_authenticated %}
    <div style="z-index: 99; height: 50px; width: 100px; position: absolute; margin-left: 88%;">
        <h5>Hi {{ user.username }}!</h5>

        <a href="{% url 'logout' %}" style="color: darkblue" ; class="button;"><img
                src="../static/img/logout-yellow.png"
                style="height: 40px; width: 45px;"></a>
    </div>
    {% else %}
    <div style="z-index: 99; height: 50px; width: 100px; position: absolute; margin-left: 88%;">

        <a href="{% url 'login' %}"><img src="../static/img/login-icon-yellow.png"
                                         style="height: 40px; width: 45px;"></a>
        <a href="{% url 'signup' %}"><img src="../static/img/sign-up.png"
                                          style="height: 37px; width: 42px;"></a>
    </div>
    {% endif %}
    <div>
        {% include 'header.html' %}
    </div>
    <div id="bodyblue">

        <button class="accordion">Game</button>
        <div class="panel"><h6>How many points have you earned?</h6>
            {% if user.is_authenticated %}
            <p id = 'pointsPara'></p>
            <script>
                var user = '{{ user.username }}';
                var points = '{{ user.points }}';
                document.getElementById('pointsPara').innerHTML = "You have earned " + points + " points. Nice job " + user + "!"
            </script>
            {% else %}
            <p>Please log in to see your points! Haven't signed up yet? What are you waiting for? If you don't
                sign up, you can't add favorites or earn points for exploring. You're missing out!</p>
            {% endif %}
        </div>
        <button class="accordion">Co2</button>
        <div class="panel"></div>

        <button class="accordion">Weather Forecast</button>
        <div class="panel">
            <!--this div is to show the weather forcast, input a date and choose a time to call the fuction show weather forecast in 5 days-->
            <div id="search_date" style="font-family: unset; float: left">
                <h6 style="margin-top: 2%">Choose a date(in 5 days) and time to see the weather:</h6>
                <input type="date" name="date" id="date_weather_forcast">
                <select id="time_weather_forcast" style="display: block" name="time">
                    <option value='06:00:00'>06:00:00</option>
                    <option value='09:00:00'>09:00:00</option>
                    <option value='12:00:00'>12:00:00</option>
                    <option value='15:00:00'>15:00:00</option>
                    <option value='18:00:00'>18:00:00</option>
                    <option value='21:00:00'>21:00:00</option>
                    <option value='00:00:00'>00:00:00</option>
                    <option value='03:00:00'>03:00:00</option>
                </select>
                <button onclick="display()" type="button">Show forecast</button>
                <div id="show_forecast" style="color: black; margin-bottom: 80%">
                </div>
            </div>

        </div>
        <button class="accordion">Traffic Update</button>
        <div class="panel" id="feeddiv">
         <div id="search_date" style="font-family: unset; float: left">
            <div id="feeddiv"></div>

            </div>
        
        </div>

    </div>

    <!--using ajax, weather forecast function, if the date and time equals to input, get the weather forecast from openweather api---->
   


    <script type="text/javascript">

        function display() {
            var date = $("#date_weather_forcast").val();
            var time = $("#time_weather_forcast").val();

            if (date != '' && time != '') {
                $.ajax({
                    url: 'http://api.openweathermap.org/data/2.5/forecast?appid=a8e1877ec087d7a2904f50a41ed61bfa&q=Dublin&units=metric',
                    type: "GET",
                    dataType: "jsonp",
                    jsonpCallback: "jsonp",
                    success: function (data) {
                        var a = 0;
                        for (var i = 0; i < data.list.length; i++) {
                            if (data.list[i].dt_txt == date + ' ' + time) {

                                let fore = "<div >" + "<img src = 'http://openweathermap.org/img/w/" + data.list[i].weather[0].icon + ".png' > " + data.list[i].weather[0].description +

                                    "<h6 style='padding-top:0;'>" + data.list[i].main.temp + "&deg;C</h6>";
                                document.getElementById("show_forecast").innerHTML = fore;
                                var a = 1;
                            }


                        }
                        if (a == 0) {
                            alert("Error");
                        }


                    }

                });
            }
        }
    </script>
    <script>
        var acc = document.getElementsByClassName("accordion");
        var i;

        for (i = 0; i < acc.length; i++) {
            acc[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var panel = this.nextElementSibling;
                if (panel.style.maxHeight) {
                    panel.style.maxHeight = null;
                } else {
                    panel.style.maxHeight = panel.scrollHeight + "px";
                }
            });
        }
    </script>


    <script type="text/javascript" src="https://rss2json.com/gfapi.js"></script>

    <script type="text/javascript">

    google.load("feeds", "1");

    function initialize() {
      var feed = new google.feeds.Feed("http://www.dublinbus.ie/RSS/Rss-news/");
      feed.load(function(result) {
        if (!result.error) {
          var container = document.getElementById("feeddiv");
          for (var i = 0; i < result.feed.entries.length; i++) {
            var entry = result.feed.entries[i];
            console.log("entry", entry)
            var content = entry.content
            var div = document.createElement("div");
            // div.appendChild(document.createTextNode(entry.title+ "<br>"+ entry.content+"<br><br>"));
            // div.appendChild(document.createTextNode(entry.content));
            div.innerHTML="<br><br><h3>"+entry.title+"</h3>"+entry.publishedDate+"<br><p><a href=\""+entry.link+"\">More details</a></p><p>"+entry.content+"</p>"
           
            container.appendChild(div);
          }
        }
        else {
            alert("Error fetching feeds!")
            }
      });
    }
    google.setOnLoadCallback(initialize);

    </script>




    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>
    <link href="{% static 'css/more.css' %}" rel="stylesheet">

    <script>
        //paste this code under the head tag or in a separate js file.
        // Wait for window load
        $(window).load(function () {
            // Animate loader off screen
            $(".se-pre-con").fadeOut("slow");
            ;
        });
    </script>

{% endblock %}