{% extends 'base.html' %}
{% block content %}

    {% load static %}
    <style>

        .holder:hover {
            background-color: #7abaff;
        }

        #head {
            height: 15%;
            width: auto;
            text-align: center;
        }

        {#https://smallenvelop.com/display-loading-icon-page-loads-completely/#}
        .no-js #loader {
            display: none;
        }

        .js #loader {
            display: block;
            position: absolute;
            left: 100px;
            top: 0;
        }

        .se-pre-con {
            position: fixed;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            z-index: 9999;
            background: url(../static/img/animated-bus.gif) center no-repeat #2775BA;
        }
    </style>
    <div class="se-pre-con"></div>
    <div id="head" style="background: rgba(4, 36, 85, 0.5); padding-top: 1%">
        <img class="smalllogo" style="display: inline" src="{% static 'smalllogo.png' %}">
        <h2 style="display: inline">Dublin Bus</h2>
    </div>
    <div>
        {% include 'header.html' %}
    </div>
    <h1 style = "text-align: center">A list of all bus routes!</h1>
    <div id="bigList" class = "col-md-6 offset-md-3" style = "max-height:750px; overflow: scroll;text-align: center">
        <div id = "header" class="row">
            <div style = "text-align: center"  id = "route" class="col-6">
                <h4>Route</h4>
            </div>
            <div style = "text-align: center"  id = "direction" class="col-6">
                <h4>Areas Served</h4>
            </div>
        </div>
    </div>
    <script>
        var routesList = {{ routesList | safe }};
        var routeHTML = "";
        var stopHTML = "";
        for (var i = 0; i < routesList.length; i++) {
            routeHTML +=
                '<div style = "text-align: center" class = "holder col-6">'+
                    routesList[i].Route +
                '</div>' +
                '<div style = "text-align: center" class = "holder col-6">'+
                routesList[i].Stops +
                '</div>' +
                '<br>' +
                '<hr>';

        }
        document.getElementById('header').insertAdjacentHTML('beforeend', routeHTML);
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>
    <script>
        //paste this code under the head tag or in a separate js file.
        // Wait for window load
        $(window).load(function () {
            // Animate loader off screen
            $(".se-pre-con").fadeOut("slow");
            ;
        });
    </script>


{% endblock %}
