{% extends 'base.html' %}
{% block content %}
{% load static %}
<script src="https://kit.fontawesome.com/a7c1f97ec0.js"></script>

<div class="container-fluid">
   <div class="row" id="header-row">
      <div class="col-3">
         <img src = "{% static 'smalllogo.png' %}" class="smalllogo">
      </div>
      <div class="col-6">
         <p>mobile favourites</p>
      </div>
      <div class="col-3">
      </div>
   </div>

   <div class="row">
      <div class="col-12" id="middle-favourite">
         <!-- <p>middle section</p> -->
      <div class="col-12" id="favourite-holder">
         <div class="favourite-Add">
             <div id="add-holder">
                 Add new favourite route
                 <button type="button" id="add-button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
                        <i class="fas fa-plus-circle" id="plusicon"></i>

                      </button>
            </div>
         </div>
         <div class="favourite-Input">
                <div id="add-holder">
            <form method="POST">
                  {% csrf_token %}
                  <!-- <label for="your_origin">Origin location: </label>
                  <input id="your_origin" type="text" name="your_origin" value="{{ current_origin }}">
                  <label for="your_destination">Destination location: </label>
                  <input id="your_destination" type="text" name="your_destination" value="{{ current_destination }}"> -->
                  {{ form.as_p }}
                  <button type="submit">Submit</button>
              </form>
</div>
{{ text }}
        </div>
      </div>
    </div>
   </div>

   <div class="row">
      <div class="col-12">
         {% include 'tabs.html' %}
      </div>
   </div>

</div>
<link rel="stylesheet" href="{% static 'css/m_favourites.css' %}">
{% endblock %}